@model AsyncInn.Models.ViewModels.HotelRoomVM

@{
    ViewData["Title"] = "Details";
}
    <head>
        <partial name="../Shared/_Styling" />
    </head>
    <header>
        <partial name="../Shared/_Navbar" />
    </header>
<h1>Details</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Phone)
        </dd>
    </dl>
</div>
<div>
    <ul>
        @foreach (var room in Model.HotelRooms)
        {
            <li>@room.Room.Name</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Hotel.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
