@model AsyncInn.Models.ViewModels.RoomAmenitiesVM

@{
    ViewData["Title"] = "Details";
}
    <head>
        <partial name="../Shared/_Styling" />
    </head>
    <header>
        <partial name="../Shared/_Navbar" />
    </header>
<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Layout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Layout)
        </dd>
    </dl>
</div>
<div>
    <ul>Included Amenities:
        @foreach (var item in Model.Amenities)
        {
            <li>@item.Amenities.Name</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Room.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
